ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #404040;
}

.lil {
  float: left;
}

.lir {
  float: right;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

li a:hover {
  background: #f6c309;
}

.active {
  background-color: #f6c309;
}

.brand {
  max-height: 600px;
  max-width: 600px;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: 'Roboto', sans-serif;
}

.center  {
  text-align: center;
  margin: auto;
  padding: 10%;
}

.center2  {
  text-align: center;
  margin: auto;
  padding: 5%;
}

.strong {
  font-weight: 700;
  font-size: 150px;
}

.strong2  {
  font-size: 100px;
}

.strong3  {
  font-size: 75px;
}


.parallax {
    /* The image used */
    background-image: url("sensors.JPG");

    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    /* The image used */
    background-image: url("connectivity.jpg");

    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("sunset.gif");

    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url("country.jpg");

    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4  {
  /* The image used */
  background-image: url("network.png");

  /* Set a specific height */
  min-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax5  {
  /* The image used */
  background-image: url("cardboard.jpg");

  /* Set a specific height */
  min-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grey {
  background-color: #404040;;
}

.white {
  background-color: #FFFFFF;;
}

.flag   {
  background-image: linear-gradient(to right, #404040 0%, #f6c309 15%, #404040 50%, #404040 100%);
}

h2 {
  font-family: 'Roboto', sans-serif;
}

.milkwhite  {
  background-color: #F6F5F1;
}
